* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f9f5ed;
    font-family: 'Roboto', sans-serif;
}
nav {
    padding: 20px 5%;
    height: 80px;
    background-color: #ffffff;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 70px;
}
nav ul li {
    list-style: none;
    font-weight: 700;
    font-size: 17px;
    color: #2e146a;
    cursor: pointer;
    padding-right: 15px;
    transition: font-size 1s;
}
nav ul li:hover {
    font-weight: 750;
    font-size: 17.5px;
    text-decoration: underline;
}
nav ul img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.left-main {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}
.left-main h1 {
    font-size: 55px;
    margin: auto;
    font-weight: 900;
}
.left-main p {
    margin: 5% 0;
}
.left-main button {
    padding: 15px 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 650;
    border: 1px solid #266b44;;
    background-color: #3b855b;
    border-radius: 10px;
    margin-top: 15px;
}
.left-main button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid brown;
}
.right-main {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}
.img1 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(206, 206, 203);
    padding: 20px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.img1 img:first-child {
    width: 225px;
}
.img1 img:nth-child(2) {
    width: 225px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img1 img:nth-child(3) {

    width: 225px;
    transform: rotate(45deg);
    transform-origin: 15% 40%;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #2f2e2e;
    color: #ffffff;
}
/* footer p {
    text-align: center;
    padding-top: 30px;
} */
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
footer li {
    list-style: none;
}
footer li a {
    font-size: 25px;
}


@media (max-width: 1230px) {
    main {
        flex-direction: column-reverse;
        height: 110vh;
    }
    .left-main h1 {
        font-size: 43px;
        margin-top: 25px;
    }
}

@media (max-width: 740px) {
    nav {
        height: 65px;
    }
    nav ul {
        gap: 12px;
        /* margin-bottom: 16px; */
    }
    nav ul li {
        font-size: 15px;
        font-weight: 600;
    }
    nav ul li:hover {
        font-weight: 700;
        font-size: 15.5px;
        text-decoration: underline;
    }
    .right-main {
        width: 90%;
    }
    .img1 {
        grid-template-columns: 60% 60%;
        grid-template-rows: auto;
        padding: 25px;
        overflow: hidden;
        /* margin: auto; */
    }
    .img1 img:first-child {
        width: 90%;
        padding-left: 15px;
    }
    .img1 img:nth-child(2) {
        width: 90%;
        /* padding: 15px; */
    }
    .img1 img:nth-child(3) {
    
        width: 90%;
        padding-left: 15px;
    }
    .left-main {
        width: 80%;
    }
    .left-main p {
        text-align: center;
    }
    .left-main h1 {
        font-size: 30px;
    }
}
